{% with widget_class=widget.attrs.class|default:'' %}
{% with rows_value=widget.attrs.rows|default:2 %}
<textarea rows="{{ rows_value }}" name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}
    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 {{ widget_class }}">
{% if widget.value %}{{ widget.value }}{% endif %}</textarea>
{% endwith %}
{% endwith %}
